<!--
  The Footer
  v2.0
  https://github.com/
  © 2017-2019 banny
  MIT License
-->

<footer class="d-flex w-100 justify-content-center">
  <div class="d-flex justify-content-between align-items-center">
    <div class="footer-left">
      <p class="mb-0">
        © {{ 'now' | date: "%Y" }}
        <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
        {% if site.data.rights.brief %}
        <span data-toggle="tooltip" data-placement="top"
          title="{{ site.data.rights.verbose }}">{{ site.data.rights.brief }}</span>
        {% endif %}
      </p>
    </div>

    <div class="footer-right">
      <p class="mb-0">
        Powered by
        <a href="https://github.com" target="_blank" rel="noopener">github</a>
        .
      </p>
    </div>

  </div> <!-- div.d-flex -->
</footer>
